# ----------------------------
# LaTeX build artifacts
# ----------------------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.pdf
*.xdv
# ----------------------------
# Editors / OS
# ----------------------------
.DS_Store
.vscode/
.texpadtmp/

# ----------------------------
# Archives / temp
# ----------------------------
*.zip
*.gz
*.[oa]
